<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sirena</title>
    <script src="src/js/common.js"></script>
    <script src="src/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdGA-ndsHMtR5-cdZrc5SHtfKKBG5Bfg&callback=initMap">
    </script>

</head>
<body class="contacts-page">
<header>
    <div class="content">
        <a href="/" class="logo"><img src="assets/img/siren-logotip.svg" alt="siren"></a>
        <nav>
            <a href="/" data-hover="ГЛАВНАЯ"><span>ГЛАВНАЯ</span></a>
            <a href="catalog.html" data-hover="КАТАЛОГ ТОВАРОВ"><span>КАТАЛОГ ТОВАРОВ</span></a>
            <a href="" data-hover="КОНТАКТЫ"><span>КОНТАКТЫ</span></a>
        </nav>

        <div class="cart_and_burger">

            <div class="burger-menu">
                <div class="burger"><img src="assets/img/burger.png" alt=""></div>
                <div class="burger_popup">
                    <a href="/" data-hover="ГЛАВНАЯ"><span>ГЛАВНАЯ</span></a>
                    <a href="catalog.html" data-hover="КАТАЛОГ ТОВАРОВ"><span>КАТАЛОГ ТОВАРОВ</span></a>
                    <a href="contacts.html" data-hover="КОНТАКТЫ"><span>КОНТАКТЫ</span></a>
                </div>
            </div>

            <div class="cart">
                <div class="num_goods">
                    <span>0</span>
                </div>

                <div class="icon"><img src="assets/img/cart.png" alt=""></div>
                <div class="cart_popup">
                    <div class="state">
                        <!--<span>Ваша корзина пуста</span>-->
                        <div class="select_elements">
                            <a href="" class="item-pic"><img src="assets/img/temp/goods.png"></a>
                            <span class="delete"></span>
                            <div class="text">
                                <a href="" class="">КОМПЛЕКТ BOOM MOON beige</a>
                                <span class="span-size">S/M</span>
                                <div class="сart_element_price">
                                    <span class="price">1000 грн</span><span class="count"> × 2</span>
                                </div>
                            </div>
                        </div>
                        <div class="select_elements">
                            <a href="" class="item-pic"><img src="assets/img/temp/goods.png"></a>
                            <span class="delete"></span>
                            <div class="text">
                                <a href="" class="">КОМПЛЕКТ BOOM MOON beige</a>
                                <span class="span-size">S/M</span>
                                <div class="сart_element_price">
                                    <span class="price">1000 грн</span><span class="count"> × 2</span>
                                </div>
                            </div>
                        </div>
                        <div class="select_elements">
                            <a href="" class="item-pic"><img src="assets/img/temp/goods.png"></a>
                            <span class="delete"></span>
                            <div class="text">
                                <a href="" class="">КОМПЛЕКТ BOOM MOON beige</a>
                                <span class="span-size">S/M</span>
                                <div class="сart_element_price">
                                    <span class="price">1000 грн</span><span class="count"> × 2</span>
                                </div>
                            </div>
                        </div>

                        <div class="horizontal-line">
                            <hr>
                        </div>

                        <div class="summary-price">
                            <span>СУММА ПОКУПКИ</span>
                            <span class="span-summary-price">6000 грн</span>
                        </div>

                        <div class="button-wrapper">
                            <a href="#" class="cart-button"><span>Оформить заказ</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="content">
        <div class="map-wrapper">
            <div id="map"></div>
        </div>
        <div class="add-inf">
            <div class="schedule">
                <p class="title-schedule">ГРАФИК РАБОТЫ</p>
                <p>Понедельник — пятница:</p>
                <p>с 9.00 до 19.00</p>
                <p>Суббота — воскресенье:</p>
                <p>выходные дни.</p>
            </div>
            <div class="contacts">
                <p class="title-contacts">ТЕЛЕФОНЫ</p>
                <!--<p>+38 068 73 45 213</p>-->
                <!--<p>+38 067 36 55 387</p>-->
                <!--<p>+38 050 01 18 187</p>-->
                <p><a href="tel:+3 (000) 000 00 00">+3 (000) 000 00 00</a></p>
                <p><a href="tel:+3 (000) 000 00 00">+3 (000) 000 00 00</a></p>
                <a href="tel:+3 (000) 000 00 00">+3 (000) 000 00 00</a>
            </div>
            <div class="soc-inf">

                <div class="icons-wrapper">
                    <p class="title-soc-inf">СОЦЫАЛЬНЫЕ СЕТИ</p>
                    <div>
                        <a href="#"><img src="assets/img/facebook.png" alt=""></a>
                        <a href="#"><img src="assets/img/instagram.png" alt=""></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>

<footer>
    <div class="content">
        <nav>
            <a href="/" data-hover="ГЛАВНАЯ"><span>ГЛАВНАЯ</span></a>
            <a href="catalog.html" data-hover="КАТАЛОГ ТОВАРОВ"><span>КАТАЛОГ ТОВАРОВ</span></a>
            <a href="" data-hover="КОНТАКТЫ"><span>КОНТАКТЫ</span></a>
        </nav>
        <div class="contacts_soc">
            <a href="tel:+3 (000) 000 00 00" class="contacts">+3 (000) 000 00 00 </a>
            <div class="soc">
                <a href="#"><img src="assets/img/facebook.png"></a>
                <a href="#"><img src="assets/img/instagram.png"></a>
            </div>
        </div>

    </div>
</footer>