<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sirena</title>
    <script src="src/js/common.js"></script>
</head>
<body class="product-page">
<header>
    <div class="content">
        <a href="/" class="logo"><img src="assets/img/sirenalogo.png" alt=""></a>
        <nav>
            <a href="/" data-hover="ГЛАВНАЯ"><span>ГЛАВНАЯ</span></a>
            <a href="catalog.html" data-hover="КАТАЛОГ ТОВАРОВ"><span>КАТАЛОГ ТОВАРОВ</span></a>
            <a href="contacts.html" data-hover="КОНТАКТЫ"><span>КОНТАКТЫ</span></a>
        </nav>

        <div class="cart">
            <div class="num_goods">
                <span>0</span>
            </div>

            <div class="icon"><img src="assets/img/cart.png" alt=""></div>
            <div class="cart_popup">
                <div class="state">
                    <!--<span>Ваша корзина пуста</span>-->
                    <div class="select_elements">
                        <a href="" class="item-pic"><img src="assets/img/temp/goods.png"></a>
                        <span class="delete"></span>
                        <div class="text">
                            <a href="" class="">КОМПЛЕКТ BOOM MOON beige</a>
                            <span class="span-size">S/M</span>
                            <div class="сart_element_price">
                                <span class="price">1000 грн</span><span class="count"> × 2</span>
                            </div>
                        </div>
                    </div>
                    <div class="select_elements">
                        <a href="" class="item-pic"><img src="assets/img/temp/goods.png"></a>
                        <span class="delete"></span>
                        <div class="text">
                            <a href="" class="">КОМПЛЕКТ BOOM MOON beige</a>
                            <span class="span-size">S/M</span>
                            <div class="сart_element_price">
                                <span class="price">1000 грн</span><span class="count"> × 2</span>
                            </div>
                        </div>
                    </div>
                    <div class="select_elements">
                        <a href="" class="item-pic"><img src="assets/img/temp/goods.png"></a>
                        <span class="delete"></span>
                        <div class="text">
                            <a href="" class="">КОМПЛЕКТ BOOM MOON beige</a>
                            <span class="span-size">S/M</span>
                            <div class="сart_element_price">
                                <span class="price">1000 грн</span><span class="count"> × 2</span>
                            </div>
                        </div>
                    </div>

                    <div class="horizontal-line">
                        <hr>
                    </div>

                    <div class="summary-price">
                        <span>СУММА ПОКУПКИ</span>
                        <span class="span-summary-price">6000 грн</span>
                    </div>

                    <div class="button-wrapper">
                        <a href="#" class="cart-button"><span>Оформить заказ</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="content">
        <div class="product-wrapper">

            <p class="product-title">ОДЕЖДА ДЛЯ ФИТНЕСА И ЙОГИ</p>

            <div class="product-slider-wr">
                <div class="slider-for">
                    <div class="img" style="background-image: url(assets/img/temp/product.png)"></div>
                    <div class="img" style="background-image: url(assets/img/temp/goods_hov.png)"></div>
                    <div class="img" style="background-image: url(assets/img/temp/product.png)"></div>
                    <div class="img" style="background-image: url(assets/img/temp/goods.png)"></div>
                    <div class="img" style="background-image: url(assets/img/temp/goods_hov.png)"></div>
                    <div class="img" style="background-image: url(assets/img/temp/product.png)"></div>
                    <div class="img" style="background-image: url(assets/img/temp/goods_hov.png)"></div>
                    <div class="img" style="background-image: url(assets/img/temp/product.png)"></div>
                </div>
                <div class="slider-nav">
                    <div><img src="assets/img/temp/product.png" alt="Sirena"></div>
                    <div><img src="assets/img/temp/goods_hov.png" alt="Sirena"></div>
                    <div><img src="assets/img/temp/product.png" alt="Sirena"></div>
                    <div><img src="assets/img/temp/goods.png" alt="Sirena"></div>
                    <div><img src="assets/img/temp/goods_hov.png" alt="Sirena"></div>
                    <div><img src="assets/img/temp/product.png" alt="Sirena"></div>
                    <div><img src="assets/img/temp/goods.png" alt="Sirena"></div>
                    <div><img src="assets/img/temp/goods_hov.png" alt="Sirena"></div>
                </div>
            </div>

            <div class="product-desc">
                <p class="product-name">Комплект BELT abstraсt4</p>
                <p class="product-article">АРТИКУЛ: 5000-0-0-0-0-4.</p>
                <p class="product-price">1018 грн</p>
                <p class="product-size">РАЗМЕР</p>
                <div class="custom-select" style="width:200px;">
                    <select>
                        <option value="0">ВЫБРАТЬ ОПЦИЮ:</option>
                        <option value="1">M/L</option>
                        <option value="2">S/M</option>
                    </select>
                </div>
                <div class="button-wrapper">
                    <div class="count-goods">
                        <input type="number"  value="1" min="1" max="100"/>
                        <div id="inc-button" class="spinner-button">+</div>
                        <div id="dec-button" class="spinner-button">-</div>
                    </div>
                    <a href="#" class="goods-button btn-animate"><span>Добавить в корзину</span></a>
                </div>

                <div class="product-info-wrapper">
                    <p class="product-info-header">ОПИСАНИЕ</p>
                    <div class="product-info">
                        <p>
                            Стильные лосины с сеткой предназначены для интенсивных тренировок. Они отлично подойдут для занятий
                            в тренажерном зале, тренировок по фитнесу, аэробике, пилатесу или йоги. За счет специально
                            разработанного кроя, лосины подчеркивают округлость форм. Благодаря широкому поясу с завышенной
                            талией лосины не сползают с бёдер во время приседаний и наклонов. При изготовлении мы использовали
                            эластичный материал на основе Spandex, разработанный специально для пошива спортивной одежды. За
                            счет материала, лосины:
                    </div>
                </div>
                <div class="product-table_size">
                    <p>ТАБЛИЦЫ РАЗМЕРОВ</p>
                    <!--<img src="assets/img/temp/product-table_size.png" alt="">-->
                    <table>
                        <tr>
                            <th>Обхват груди</th>
                            <th>Обхват талии</th>
                            <th>Обхват бёдер</th>
                            <th>Размер</th>
                        </tr>
                        <tr>
                            <td>86-95</td>
                            <td>65-70</td>
                            <td>88-95</td>
                            <td>S/M</td>
                        </tr>
                        <tr>
                            <td>86-95</td>
                            <td>65-70</td>
                            <td>88-95</td>
                            <td>S/M</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!---->

        </div>

        <p class="similar-goods">ПОХОЖИЕ ТОВАРЫ</p>
        <hr>
        <div class="catalog">
            <div class="product">
                <a href="#" class="product-img">
                    <img class="front" src="assets/img/temp/goods.png" alt="">
                    <img class="back" src="assets/img/temp/goods_hov.png" alt="">
                </a>
                <p class="product-desc"><a href="">КОМПЛЕКТЫ</a>, <a href="catalog.html">НОВАЯ КОЛЛЕКЦИЯ</a></p>
                <p class="product-title">
                    <a href="product.html">Комплект BELT abstraсt</a>
                </p>
                <p class="product-price">600 грн</p>
                <a href="product.html" class="goods-button btn-animate"><span>Выбрать</span></a>
            </div>
            <div class="product">
                <a href="#" class="product-img">
                    <img class="front" src="assets/img/temp/goods.png" alt="">
                    <img class="back" src="assets/img/temp/goods_hov.png" alt="">
                </a>
                <p class="product-desc"><a href="">КОМПЛЕКТЫ</a>, <a href="">НОВАЯ КОЛЛЕКЦИЯ</a></p>
                <p class="product-title">
                    <a href="product.html">Комплект BELT abstraсt</a>
                </p>
                <p class="product-price">600 грн</p>
                <a href="product.html" class="goods-button btn-animate"><span>Выбрать</span></a>
            </div>
            <div class="product">
                <a href="#" class="product-img">
                    <img class="front" src="assets/img/temp/goods.png" alt="">
                    <img class="back" src="assets/img/temp/goods_hov.png" alt="">
                </a>
                <p class="product-desc"><a href="">КОМПЛЕКТЫ</a>, <a href="">НОВАЯ КОЛЛЕКЦИЯ</a></p>
                <p class="product-title">
                    <a href="product.html">Комплект BELT abstraсt</a>
                </p>
                <p class="product-price">600 грн</p>
                <a href="product.html" class="goods-button btn-animate"><span>Выбрать</span></a>
            </div>
            <div class="product">
                <a href="#" class="product-img">
                    <img class="front" src="assets/img/temp/goods.png" alt="">
                    <img class="back" src="assets/img/temp/goods_hov.png" alt="">
                </a>
                <p class="product-desc"><a href="">КОМПЛЕКТЫ</a>, <a href="">НОВАЯ КОЛЛЕКЦИЯ</a></p>
                <p class="product-title">
                    <a href="product.html">Комплект BELT abstraсt</a>
                </p>
                <p class="product-price">600 грн</p>
                <a href="product.html" class="goods-button btn-animate"><span>Выбрать</span></a>
            </div>
        </div>



    </div>
</main>
<footer>
    <div class="content">
        <nav>
            <a href="/" data-hover="ГЛАВНАЯ"><span>ГЛАВНАЯ</span></a>
            <a href="catalog.html" data-hover="КАТАЛОГ ТОВАРОВ"><span>КАТАЛОГ ТОВАРОВ</span></a>
            <a href="contacts.html" data-hover="КОНТАКТЫ"><span>КОНТАКТЫ</span></a>
        </nav>
        <div class="contacts_soc">
            <a href="tel:+3 (000) 000 00 00" class="contacts">+3 (000) 000 00 00 </a>
            <div class="soc">
                <a href="#"><img src="assets/img/facebook.png"></a>
                <a href="#"><img src="assets/img/instagram.png"></a>
            </div>
        </div>

    </div>
</footer>


</body>
</html>